.card {
  max-width: 30em;
  height: fit-content;
}

.image-food {
  max-width: 100%;
}

mat-card-content {
  padding: 1em;
}

mat-card-content h1 {
  text-align: end;
  font-weight: 700;
  padding: 0 1em;
}

mat-card-actions {
  justify-content: end;
}
